body {
    background-color:#FAF8F1;
}

hr {
    background-color: white;
    border-color: black;
    border-style: none;
    border-top-style: dotted;
    width: 30%;
}

h1{
    color: #66BFBF;
    font-family: Georgia, serif;
}

h1:hover{
    color: black;
}

h2{
    color: #66BFBF;
}